.header {
  display: flex;
  height: calc(100vh / 6);
  min-height: 150px;
  flex-direction: column;
  color: #786f66;
}

.title {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.title > span {
  font-size: 48px;
  font-weight: bold;
}

.score {
  background-color: #bbada0;
  border: 0;
  border-radius: 5px;
  min-width: 125px;
  text-align: center;
  color: white;
  padding: 5px;
  line-height: 21px;
}

.subTitle {
  display: flex;
  justify-content: space-between;
}

.subTitle > span {
  line-height: 32px;
}

.reset {
  background: #8F7A66;
  border: 0;
  border-radius: 5px;
  height: 45px;
  color: white;
  width: 115px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  align-self: end;
}

.reset:hover {
  background: #746352;
}